:root {
    font-family: 'Rubik', sans-serif;
    --background-color:#3CDBC0;
    --menu-color:#4a4a4a;
    --title-color:#FFFFFF;
    font-size: 62.5%;
}
.body {
    font-size: 16px;
}
.header {
    box-sizing: border-box;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 3px 13px;
    gap:10px;
    position:sticky;
    top:0;
    background-color: white;
}
.logo {
    width:155px;
}
.link-logo:hover {
    background-color:#3cdbc11c;
    border-radius: 6px;
}
.list {
    display:flex;
    gap:20px;
}
.link-element {
    text-decoration: none;
    color:var(--menu-color);
    text-transform: uppercase;
    font-size: 1.6rem;
}
.link-element:hover {
    color:black;
    font-weight: 600;
}
.main-section {
   background-color: var(--background-color);
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.title {
    color: var(--title-color);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    width:200px;
}

@media all and (min-width: 768px) {
    .header  {
        flex-direction: row;
        justify-content: space-between;
        padding:20px 30px 20px;
    }
    .title {
        font-size: 4rem; 
    }
}